In [1]:
a = 10

In [2]:
class test:
    None

In [ ]:
abc = 10 # valid
123abc = 10 # invlaid

In [ ]:
x # variable
_x # protected variable
__x # private variable
__x__ # magic variable

# keywords

In [5]:
# words with some functionality are called keywords
# if, else, elif, etccc
# there are 33 reserved words in python
# all are alphabets 
# Except True, False and None all other keywords are all small case
# no switch and do while is not available

In [6]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [7]:
# datatypes

In [9]:
# no declaring the data type also called dynamically typed programming language
a = 10
type(a)

int

In [10]:
b = True
type(b)

bool

In [11]:
# inbuilt datatype int, float, Boolean, complex, string, list, tuple, set,
# frozenset, dict, bytes, bytearray, range, None

In [12]:
# everything in python is an object

In [13]:
a = 10 
# to know the address of a
id(a)

4376094128

## int datatype

In [14]:
# numbers without any decimal point
a = 10
type(a)

int

In [21]:
# different ways to reperesent into4 ways
# decimal form (0-9)
a = 10
print("Decimla form")
print(a)


# binary form (0,1)
a = 0B1111
print("Binary form")
print(type(a))
print(a)

# Octal form (0-7)
a = 0O123
print('Octal form')
print(type(a))
print(a)

# Hexa form (0-9, a=10,b=11,c=12,d=13,e=14,f=15)
a = 0x10
print('Hexa form')
print(type(a))
print(a)

Decimla form
10
Binary form
<class 'int'>
15
Octal form
<class 'int'>
83
Hexa form
<class 'int'>
16

In [27]:
# converting number form one base to binary

# converting data from decimal form to binary form
bin(15)

# converting data from Octal number to binary form
bin(0O123)

'0b1010011'

In [33]:
# converting data from one base to octal form

# converting data from decimal form to octal
print(oct(100))

# converting data from binary form to octal
print(oct(0b111101))

# converting data form hexadeciaml form to octal
print(oct(0XFACE))

0o144
0o75
0o175316

In [34]:
# converting data from one base to Hexa decimal form

# converting data from decimal form to hexa deciaml form
print(hex(1000))

# converting data from binary form to hexa decimal form
print(hex(0b1010101))

# converting data form octadecimal form to hexa decimal form
print(hex(0o123456))

0x3e8
0x55
0xa72e

## float

In [35]:
a = 123.45
type(a)

float

In [37]:
# the number after e is the exponent of the number 
f = 123.3412312312312312312E3
print(f)

123341.23123123123

In [38]:
f = 123.3412312312312312312E-4
print(f)

0.012334123123123123

## Complex data type

In [41]:
# to calculate scientific calculations
# a + bj          a = real part and b = imaginary part and. j^2 = -1 or j = âˆš-1 

x = 10+20j
print(type(x))
print("real part of x", x.real)
print("imaginary part of x", x.imag)


# real and imaginary part can be in decimal form also but only real value can be in binary, decimal, octa, hex

<class 'complex'>
real part of x 10.0
imaginary part of x 20.0

# Boolean Datatype

In [42]:
a = True
print(a)

True

In [43]:
a = 10
b = 20
print(a<b)

True

In [45]:
# True = 1 and False = 0
print(True - True)
print(True - False)
print(False - True)

0
1
-1

# str (string data type)

In [47]:
# sequence of characters is called string
a = 'rohit'
b = 'rohit'
c = '''rohit'''
print(a)
print(b)
print(c)
print(type(a))
print(type(b))
print(type(c))

rohit
rohit
rohit
<class 'str'>
<class 'str'>
<class 'str'>

In [51]:
# to print multiple lines of data we use triplw quotes
a = '''rohit
bohra'''

print(a)

rohit
bohra

In [53]:
a = 'Rohit is "great"'
print(a)

Rohit is "great"

In [56]:
a = """'Rohit' is the "greatest" """
print(a)

'Rohit' is the "greatest"

### positive and negative index

In [60]:
a = 'Rohit Bohra'
# 1 to 9 charcaters will be sliced
print(a[1:10])

ohit Bohr

In [61]:
print(a[-1])

a

In [66]:
print(a[:1])
print(a[1:])

R
ohit Bohra

In [72]:
a = "rohit"
b = "R" + a[1:]
print(b)
c = a[0].upper() + a[1:]
print(c)

Rohit
Rohit

# Type casting

In [78]:
# process of converting data from one type to another is called typecasting or coherence
# different types of type casting are int(), float(), complex(), bool(), str()


# from other types to int()

# float to int
a = 10.235
print(a)
print(int(a))

# complex to int
a = 10+20j
print(a)
# print(int(a)) # TypeError: can't convert complex to int

# bool to int
a = True
print(a)
print(int(a))
a = False
print(a)
print(int(a))

# string to int
a = '10'
print(a)
print(int(a))

10.235
10
(10+20j)
True
1
False
0
10
10

In [82]:
# converting other type of data into float

# int to float
a = 10
print(float(10))

# bool to float
a = True
print(float(a))

# string to float
a = '123'
print(float(a))

a = '123.345'
print(float(a))

10.0
1.0
123.0
123.345

In [85]:
# converting other data types to complex

# int to complex

a = 10
print(complex(a))

a = 0
print(complex(a))

a = '123'
print(complex(a))

(10+0j)
0j
(123+0j)

In [93]:
# converting other data into boolena type

# int to bool
a = 1
print(bool(a))

a = 100
print(bool(a))

a = 0
print(bool(a))

a = 10 + 0j
print(bool(a))

a = 0 + 0j
print(bool(a))

a = 'True'
print(bool(a))

a = '1'
print(bool(a))

a = '0'
print(bool(a))

a = ''
print(bool(a))

True
True
False
True
False
True
True
True
False

In [96]:
# converting other data to string

a = 10
print(str(a))
print(type(a))

a = 0.98
print(str(a))
print(type(a))

a = 10 + 20j
print(str(a))
print(type(a))

a = True
print(str(a))
print(type(a))

10
<class 'int'>
0.98
<class 'float'>
(10+20j)
<class 'complex'>
True
<class 'bool'>